---
const today = new Date()
---

<footer class="text-zinc-500 pb-4 pt-12 text-center text-sm">
  &copy; {today.getFullYear()}
  <a href="/">Code4life</a>. All rights reserved.
  <a href="https://beian.miit.gov.cn/#/Integrated/index">沪ICP备16040461号-1</a>
</footer>
